<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsDefault">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Residence</a>

  <div class="collapse navbar-collapse" id="navbarsDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/residence">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/user">Login</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>-->
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <button class="btn btn-primary btn-margin" (click)="auth0.login()" *ngIf="!auth0.authenticated()">Log In</button>
  <button class="btn btn-primary btn-margin" (click)="auth0.logout()" *ngIf="auth0.authenticated()">Log Out</button>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div><!--/.container-->

<hr>

<div class="container">  
  <footer class="col-9">
    <p>&copy; Company 2017</p>
  </footer>
</div>
